@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Phi Sigma Pi, Delta Rho Home</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @{Layout = "/Views/Shared/_Layout.cshtml";}
    @if (!Request.IsAuthenticated)
    {

        <div class="btn-group-lg" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-secondary" href="@Url.Action("SignIn", "Home")">Brother Sign In</button>
        </div>

    }
    else
    {
        <span><br />Hello @((User.Identity as System.Security.Claims.ClaimsIdentity)?.FindFirst("name")?.Value)</span>
        <br /><br />
        @Html.ActionLink("See Your Claims", "Index", "Claims")
        <br /><br />
        @Html.ActionLink("Sign out", "SignOut", "Home")
    }
    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div style="background-color:red;color:white;font-weight: bold;">Error: @Request.QueryString["errormessage"]</div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>